<div class="container clearfix">
  <div class="small-12 medium-8 columns">
    <h1>New Document Template</h1>

    <%= render 'form' %>
  </div>
  <div class="small-12 medium-4 columns">
    <%= render 'instructions' %>
  </div>
</div>

