<div class="row">
	<div class="column_6">
		<%= f.input :old_owner, label: "Previous Owner" %>
	</div>
	<div class="column_6">
		<%= f.input :new_owner, label: "New Owner" %>
	</div>
</div>

<%= f.simple_fields_for :tasks do |t| %>
	<%= render "tasks/#{f.object.job_type}_fields", f: t %>
<% end %>
