<div class="row">
	<div class="column_6">
		<%= f.input :old_owner, label: "Previous Owner" %>
	</div>
	<div class="column_6">
		<%= f.input :new_owner %>
	</div>
</div>

<%= f.simple_fields_for :job_products do |jp| %>
	<%= render "job_products/#{f.object.job_type}_fields", f: jp %>
<% end %>
