<div class="row">
	<div class="large-6 columns">
		<%= f.input :new_owner, label: "Borrower/Grantor" %>
	</div>
</div>

<%= f.simple_fields_for :tasks do |t| %>
	<%= render "tasks/#{f.object.job_type}_fields", f: t %>
<% end %>

<div class="row">
	<div class="large-12 columns">
	<%= link_to_add_fields(
			image_tag('add_green.png', alt: '+') + ' add another item to this job',
			f, :tasks
		) %>
	</div>
	<br/>
</div>
