<div class="main_content">
  <h1>Search Results</h1>

  <% if @jobs.length > 0 %>
    <%= render 'shared/jobs' %>
  <% else %>
    <p><i>Hmmm, there doesn't seem to be anything here. Try searching again.</i></p>
  <% end %>
</div>
