<h1>Listing job products</h1>
<%= link_to 'New Job product', new_job_job_product_path(@job) %>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Price</th>
      <th>Workflow state</th>
    </tr>
  </thead>

  <tbody>
    <% @job_products.each do |job_product| %>
      <tr>
        <td><%= link_to job_product.product.name, [@job, job_product] %></td>
        <td><%=humanized_money_with_symbol job_product.price %></td>
        <td><%= job_product.workflow_state %></td>
      </tr>
    <% end %>
  </tbody>
</table>

