<div class="container clearfix">
  <div class="large-7 small-7 columns">
    <h1>Users</h1>
  </div>
  <div class="large-5 small-5 columns">
    <br/>
    <ul class="radius button-group right">
      <li><%= link_to 'Invite A User', new_user_invitation_path, class: "tiny success button" %></li>
      <li><%= link_to 'Create A User', new_user_path, class: "tiny button" %></li>
    </ul>
  </div>
</div>

<div class="main_content">

    <table>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <%= render user %>
          </tr>
        <% end %>
      </tbody>
    </table>

</div>

<div class="side_content">

</div>
