<div class="container">
  <div class="large-7 small-7 columns">
    <h1>Users</h1>
  </div>
  <div class="large-5 small-5 columns text-right">
    <br/>
    <%= link_to 'Invite A User', new_user_invitation_path, class: "tiny success button" %>
    <%= link_to 'Create A User', new_user_path, class: "tiny button" %>
  </div>
</div>

<div class="main_content">
  <div class="row">
    <h2>Users</h2>

      <table>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <%= render user %>
            </tr>
          <% end %>
        </tbody>
      </table>

  </div>
</div>

<div class="side_content">

</div>