<h1 class="text-center">New User</h1>

<div class="row">
	<div class="large-12 columns">
		<p class="text-center">Use this form to manually create a user on the system.</p>
	</div>
</div>

<%= render (@client) ? 'client_user_form' : 'form' %>

