<div class="container">
	<div class="large-7 columns">
		<h1>States</h1>
	</div>
	<div class="large-5 columns text-right">
	</div>
</div>

<div class="container">
	<div class="main_content">
		<h4 class="subheader">Active States</h4>
		<%= render 'states', states: State.active %>
		<hr/>
		<h4 class="subheader">Inactive States</h4>
		<%= render 'states', states: State.inactive %>

	</div>
	<div class="side_content">
		<div class="panel">
			<h3 class="subheader">New State</h3>
			<%= render "states/form" %>
		</div>
	</div>
</div>