<div class="container">
	<div class="large-6 columns">
		<h1>States</h1>
	</div>
	<div class="large-6 columns text-right">
		<br/>
		<%= link_to 'New State', new_state_path, class: "tiny button" %>
	</div>
</div>

<div class="container">
<div class="main_content">

<ul>
  <% @states.each do |state| %>
    <li><%= link_to state.name, state %>
      (<%= pluralize state.counties.count, "county" %>)
    </li>
  <% end %>
</ul>

</div>
</div>