<%
  begin
  	show_client_name = !!(@current_jobs.pluck(:client_id).uniq.length > 1)
  	show_branch_name = !!(@current_jobs.map{|j| j.requestor.branch_id}.uniq.length > 1)
  rescue
    show_client_name = true
    show_branch_name = false
  end
%>

<% if @current_jobs %>
  <div>
    <%= will_paginate @current_jobs %>
  </div>
<% end %>
<table id="incomplete-jobs">
  <thead>
    <tr>
      <th>File</th>
      <th class="hide-for-small">County</th>
      <th>Requestor</th>
      <th class="text-center hide-for-small">Created</th>
      <th class="text-center">Due</th>
      <th class="text-center">Status</th>
    </tr>
  </thead>

  <tbody>
    <% if @current_jobs %>
      <% @current_jobs.each do |job| %>
      	<%= render 'shared/job_row', job: job, show_client_name: show_client_name, show_branch_name: show_branch_name %>
      <% end %>
    <% end %>
  </tbody>
</table>

