<div class="main_content">
	<h1>Clients</h1>

	<ul>
	  <% @clients.each do |client| %>
	    <li><%= link_to client.name, client %> (<%= client.jobs.count %>)</li>
	  <% end %>
	</ul>
</div>

<div class="side_content">
	<h4 class="subheader">New Client:</h4>
	<%= render 'form' %>
</div>