// import the CSS framework
@import "foundation";

// override for the 'Home' navigation link
.top-bar .name {
  font-size: rem-calc(13);
  line-height: 45px; }
.top-bar .name a {
  font-weight: normal;
  color: white;
  padding: 0 15px; }
.top-bar {
  margin-bottom: rem-calc(20);
}

.sub-nav {
  background: #EEE;
}

// THESE ARE EXAMPLES YOU CAN MODIFY
// create mixins using Foundation classes
@mixin twelve-columns {
  @extend .small-12;
  @extend .columns;
  }
@mixin six-columns {
  @extend .small-12;
  @extend .large-6;
  @extend .columns;
}
@mixin six-columns-centered {
  @extend .small-6;
  @extend .columns;
  @extend .text-center;
  }
// create your own classes
// to make views framework-neutral
.column {
  @include six-columns-centered;
  }
.form {
  @include grid-column(6);
  }
.form-centered {
  @include six-columns-centered;
  }
.submit {
  @extend .button;
  @extend .radius;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @include twelve-columns;
  //background-color: #eee;
  }
section {
  @extend .row;
  margin-top: 20px;
  }
.form-actions {
  @extend .row;
}
@mixin main_content {
  @extend .small-12;
  @extend .large-8;
  @extend .columns;
  }
@mixin side_content {
  @extend .small-12;
  @extend .large-4;
  @extend .columns;
  }

.main_content {
  @include main_content;
  table {
    width: 100%
  }
}
.side_content {
  @include side_content;
}

.column_6 {
  @include six-columns;
}
.column_6_centered {
  @include six-columns;
  @extend .large-offset-3;
}
.column_12 {
  @extend .large-12;
  @extend .columns;
}

.hint {
  display: block;
  font-size: emCalc(12px);
  color: #777;
  font-style: oblique;
  margin-top: -8px;
  margin-bottom: 10px;
}

input.radio_buttons, input.boolean {
  margin-right: 6px;
}