<div class="container">
  <div class="large-7 columns">
    <h1>Products &amp; Services</h1>
  </div>
  <div class="large-5 columns">
  </div>
</div>

<div class="container">
  <div class="large-7 columns">

    <table style="width: 100%">
      <thead>
        <tr>
          <th>Name</th>
          <th class="text-right">Default Price</th>
        </tr>
      </thead>

      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td><%= link_to product.name, product %></td>
            <td class="text-right"><%=humanized_money_with_symbol product.price %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="hint">
      Customize pricing for a client by navigating to that client, then click on the
      price shown for the desired product/service.
    </div>

  </div>

  <div class="large-5 columns">
    <div class="panel">
      <h3 class="subheader">New Product/Service</h3>
      <%= render 'form' %>
    </div>
  </div>
</div>
