<%= search_form_for @q, url: jobs_path do |f| %>
  <div class="row collapse postfix-radius">
    <div class="large-8 small-9 columns">
      <%= f.search_field :attributes_cont, placeholder: 'File #/Name/Addr/DOT' %>
    </div>
    <div class="large-4 small-3 columns">
      <%= f.submit "search", class: "button expand" %>
    </div>
  </div>
<% end %>
